<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">Free simple uptime monitoring of http/https sites. When your site goes down we'll send you a text to let you know</div>
<p>
<div class="blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolorum ut culpa explicabo voluptatum soluta beatae vel sunt, ea rem aut suscipit quibusdam eveniet, a, iste temporibus veniam quisquam unde?</div>
<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>